* {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.globe {
    padding: 20px 0;
    width: 30px;
    height: 30px;
}

h3 {
    color: #fff;
}